/* banner starts here -------------- */
.repair-banner {
  background: #393939;
  background: linear-gradient(90deg, #393939 0%, #2f2f2f 47%, #232323 100%);
  padding: 55px 0 80px 0;
  margin-top: 168px;
}
@media (max-width: 767px) {
  .repair-banner {
    margin-top: 100px;
  }
}
.repair-banner .inner h1 {
  color: #fff;
  font-size: 30px;
  line-height: 0.9;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  text-transform: capitalize;
}
.repair-banner .inner h1:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
  margin: 0 auto;
  width: 140px;
  height: 5px;
  background-color: #DE0000;
}
.repair-banner .inner p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}

/* banner ends here ---------------- */
/* select device starts here --------- */
.select-device {
  padding: 130px 0 135px 0;
  background-color: #fff;
}
.select-device .inner {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .select-device .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .select-device .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .select-device .inner {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .select-device .inner {
    width: 1370px;
  }
}
.select-device .inner .title-row h2 {
  color: #606060;
  font-size: 30px;
  line-height: 0.9;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-bottom: 110px;
  text-transform: capitalize;
}
.select-device .inner .title-row h2 span {
  color: #DE0000;
}
.select-device .inner .title-row h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
  margin: 0 auto;
  width: 140px;
  height: 5px;
  background-color: #DE0000;
}
.select-device .inner .detail-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.select-device .inner .detail-row .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid;
  border-color: rgba(222, 0, 0, 0.03);
  padding: 30px;
  margin-bottom: 100px;
  border-radius: 40px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
@media (max-width: 767px) {
  .select-device .inner .detail-row .box {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .select-device .inner .detail-row .box {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .select-device .inner .detail-row .box {
    width: 24%;
  }
}
@media (min-width: 1500px) {
  .select-device .inner .detail-row .box {
    width: 21%;
  }
}
.select-device .inner .detail-row .box h3 {
  color: #707070;
  font-size: 15px;
  line-height: 0.9;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 15px 0 25px 0;
}
.select-device .inner .detail-row .box h3 span {
  color: #DE0000;
}
.select-device .inner .detail-row .box:hover {
  border-color: #de0000;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
}

/* select device ends here ----------- */
/* select repair starts here --------- */
.select-repair {
  background-color: #fff;
}
.select-repair .inner {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .select-repair .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .select-repair .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .select-repair .inner {
    width: 1170px;
  }
}
@media (min-width: 1500px) {
  .select-repair .inner {
    width: 1370px;
  }
}
.select-repair .inner h2 {
  font-size: 30px;
  line-height: 0.9;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
  text-transform: capitalize;
  color: #606060;
}
.select-repair .inner h2 span {
  color: #DE0000;
}
.select-repair .inner h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
  margin: 0 auto;
  width: 140px;
  height: 5px;
  background-color: #DE0000;
}
.select-repair .inner p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}
.select-repair .inner .detail-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.select-repair .inner .detail-row .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid;
  border-color: rgba(222, 0, 0, 0.03);
  padding: 65px 20px;
  margin-bottom: 100px;
  border-radius: 40px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
@media (min-width: 1200px) {
  .select-repair .inner .detail-row .box:last-child {
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .select-repair .inner .detail-row .box:nth-child(9) {
    margin-left: auto;
    margin-right: 70px;
  }
}
@media (max-width: 767px) {
  .select-repair .inner .detail-row .box {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .select-repair .inner .detail-row .box {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .select-repair .inner .detail-row .box {
    width: 22%;
  }
}
@media (min-width: 1280px) {
  .select-repair .inner .detail-row .box {
    width: 21%;
  }
}
.select-repair .inner .detail-row .box h3 {
  color: #707070;
  font-size: 16px;
  line-height: 0.9;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 25px 0 10px 0;
}
.select-repair .inner .detail-row .box h3 span {
  color: #DE0000;
}
.select-repair .inner .detail-row .box .price-call {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #DE0000;
  font-size: 16px;
  font-weight: 400;
}
.select-repair .inner .detail-row .box:hover {
  border-color: #de0000;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
}

/* select repair ends here ----------- */
/* visit us starts here -------------- */
.visit-us {
  background-color: #fff;
  padding: 0 0 130px 0;
}
.visit-us .inner {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .visit-us .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .visit-us .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .visit-us .inner {
    width: 1170px;
  }
}
@media (min-width: 1700px) {
  .visit-us .inner {
    width: 1650px;
  }
}
.visit-us .inner h2 {
  font-size: 30px;
  color: #606060;
  line-height: 0.9;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  text-transform: capitalize;
}
.visit-us .inner h2 span {
  color: #DE0000;
}
.visit-us .inner h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
  margin: 0 auto;
  width: 140px;
  height: 5px;
  background-color: #DE0000;
}
.visit-us .inner .visitus-detail-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.visit-us .inner .visitus-detail-row .left-col {
  display: flex;
}
@media (max-width: 767px) {
  .visit-us .inner .visitus-detail-row .left-col {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .visit-us .inner .visitus-detail-row .left-col {
    width: 100%;
  }
}
@media (min-width: 1366px) {
  .visit-us .inner .visitus-detail-row .left-col {
    width: 45%;
  }
}
@media (min-width: 1650px) {
  .visit-us .inner .visitus-detail-row .left-col {
    width: 545px;
  }
}
.visit-us .inner .visitus-detail-row .left-col iframe {
  width: 100%;
  height: 680px;
}
.visit-us .inner .visitus-detail-row .right-col {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 767px) {
  .visit-us .inner .visitus-detail-row .right-col {
    width: 100%;
    margin-top: 80px;
  }
}
@media (min-width: 768px) {
  .visit-us .inner .visitus-detail-row .right-col {
    width: 100%;
    margin-top: 80px;
  }
}
@media (min-width: 1366px) {
  .visit-us .inner .visitus-detail-row .right-col {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 1700px) {
  .visit-us .inner .visitus-detail-row .right-col {
    width: 1005px;
  }
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 767px) {
  .visit-us .inner .visitus-detail-row .right-col .tabs-outer .tab-content {
    width: 100%;
  }
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row {
  border: 1px;
  border-color: #de0000;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-top .tabs-detail-left {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-top .tabs-detail-left .repair-text-outer {
  margin-bottom: 10px;
  width: 100%;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-top .tabs-detail-left .repair-text-outer .repair-desc {
  color: #DE0000;
  font-size: 18px;
  line-height: 0.9;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-top .tabs-detail-right ul li a .text1 {
  color: #707070;
  font-size: 12px;
  line-height: 0.9;
  font-weight: 300;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-top .tabs-detail-right ul li a .text2 {
  color: #DE0000;
  font-size: 12px;
  line-height: 0.9;
  font-weight: 300;
  text-transform: capitalize;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-bottom {
  margin-top: 15px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-bottom h3 {
  color: #707070;
  font-size: 18px;
  line-height: 0.9;
  margin-bottom: 5px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-bottom p {
  color: #707070;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-outer .tabs-detail-row .tabs-bottom span {
  display: inline-block;
  color: #DE0000;
  font-size: 12px;
  line-height: 0.9;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 28px 30px 5px 30px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form h3 {
  color: #DE0000;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 25px;
  text-transform: uppercase;
  width: 100%;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group {
  max-width: 345px;
  width: 30%;
}
@media (max-width: 767px) {
  .visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group {
    width: 100%;
    max-width: initial;
  }
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group input {
  background-color: #efefef;
  border-radius: 22px;
  height: 45px;
  border: 0;
  outline: 0;
  color: #272727;
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  padding: 0 30px;
  margin-bottom: 20px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group input::-webkit-input-placeholder {
  color: #D1D1D1;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group input::-moz-placeholder {
  color: #D1D1D1;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group input:-ms-input-placeholder {
  color: #D1D1D1;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group input:-moz-placeholder {
  color: #D1D1D1;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group input:focus {
  outline: none;
  box-shadow: none;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group.form-group-textarea {
  max-width: 580px;
}
@media (max-width: 767px) {
  .visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group.form-group-textarea {
    width: 100%;
    max-width: initial;
  }
}
@media (min-width: 768px) {
  .visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group.form-group-textarea {
    width: 65%;
  }
}
@media (min-width: 1280px) {
  .visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group.form-group-textarea {
    width: 68%;
  }
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group.form-group-textarea textarea {
  background-color: #efefef;
  border-radius: 22px;
  height: 45px;
  border: 0;
  outline: 0;
  color: #272727;
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  padding: 0 30px;
  margin-bottom: 20px;
  height: 180px;
}
.visit-us .inner .visitus-detail-row .right-col .tabs-form form .form-group.form-group-textarea .send-btn {
  display: inline-block;
  width: 180px;
  line-height: 42px;
  border-radius: 28px;
  border: 2px solid #DE0000;
  background-color: #DE0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
}

/* visit us ends here ---------------- */

/*# sourceMappingURL=repairs.css.map */
