@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

