/* BANNER STYLING STARTS */
.banner {
    background: url("../images/banner-bg.png") center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    .banner-content {
        position: absolute;
        top: 50%;
        max-width: 658px;
        width: 100%;
        text-align: left;
        @media (max-width: $breakpoint-mobile) { top:40%; }
        h1 {
            font-size:$defaultFontsize + 28px;
            line-height: 1.3;
            font-weight: 800;
            color: #DE0000;
            margin-bottom: 20px;
            @media (max-width: $breakpoint-mobile) { font-size: $defaultFontsize + 18px; }
        }
        p {
            font-size:$defaultFontsize + 7px;
            line-height: 29px;
            font-weight: 500;
            color: #606060;
            margin-bottom: 30px;
        }
    }
}
/* BANNER STYLING ENDS */

/* FIX IT SECTION STYLING STARTS */
.fixit-section {
    padding-top: 94px;
    .fixit-content {
        display: flex;
        align-items: center; 
        justify-content:space-between;
        flex-wrap:wrap;   
        .col-6 {
            @media ( max-width: $breakpoint-mobile ) { width:100%; }
            @media ( min-width: $breakpoint-tablet ) { width:100%; }
            @media ( min-width: $breakpoint-laptop ) { width:50%; }
            .fixit-info {
                @media ( max-width: $breakpoint-mobile ) { width: 100%; margin-bottom:50px; }
                @media ( min-width: $breakpoint-tablet ) { width: 100%; margin-bottom:50px; }
                @media ( min-width: $breakpoint-laptop ) { width: 558px; margin-bottom:0; }
                h2 {
                    font-size:$defaultFontsize + 28px;
                    line-height: 1.3;
                    font-weight: 800;
                    color: $primary-color;
                    margin-bottom: 25px;
                    span {
                        color: $secondary-color;
                    }
                }
                p {
                    font-size:$defaultFontsize;
                    line-height: 26px;
                    font-weight: 300;
                    color: $primary-color;
                    margin-bottom: 25px;
                }
            }
            .fixit-img {                
                position: relative;
                z-index: 6;
                @media (max-width: $breakpoint-mobile) {
                    max-width: 280px;
                    width: 100%;
                    margin:0 auto -25px auto;
                }
                @media (min-width: $breakpoint-tablet) {
                    max-width: 400px;
                    width: 100%;
                    margin:0 auto -25px auto;
                }
                @media ( min-width: $breakpoint-ipad ) {
                    max-width: 682px;
                    width: 100%;
                    margin-bottom: -25px;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }            
    }
}
/* FIX IT SECTION STYLING ENDS */

/* FIND LOCATION STYLING STARTS */
.find-location {
    padding: 75px 0;
    background: url("../images/find-bg.png") center center no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        @include positionabsolute;
        top:0;
        height: 100%;
        width: 100%;
        background: rgba(251, 251, 251, 0.86);
        z-index: 4;
    }
    .fl-info {
        display: block;
        text-align: center;
        position: relative;
        z-index: 5;
        h3 {
            font-size:$defaultFontsize + 13px;
            line-height: 1.3;
            font-weight: 500;
            color: #606060;
            text-transform: uppercase;
            margin-bottom: 32px;
        }
        .btn-quote {
            width:235px;
        }
    }
}
/* FIND LOCATION STYLING ENDS */

/* our services styling starts here */
.our-services {
    background-color:$primary-bgcolor;
    padding:105px 0 120px 0;
    .container {
        margin:0 auto;
        @media (min-width: $breakpoint-extralarge) {
            max-width:1640px;
        }
        .title-row {
            h2 {
                @include sectiontitles; 
                font-size:$defaultFontsize + 13px;
                line-height: .9;
                font-weight:900;
                text-align:center;
                position:relative;
                margin-bottom:110px;
                text-transform:capitalize;
                span {
                    color:$secondary-color;
                }
                &:after {
                    content:'';
                    @include positionabsolute;
                    bottom:-25px;
                    margin:0 auto;
                    width:140px;
                    height:5px;
                    background-color:$secondary-color;
                }
            }
        }
        .detail-row {
            @include flexclass;
            .box {
                @include flexclass;
                justify-content: center;
                background-color:rgba( 255, 255,255, 0.30 );
                border:1px solid;
                border-color:rgba( 222, 0, 0, 0.03 );
                padding:30px;
                border-radius:40px;
                @include transitiondefault;
                    @media (max-width: $breakpoint-mobile) { width:100%; margin-bottom:50px; }
                    @media (min-width: $breakpoint-tablet) { width:48%; margin-bottom:100px; }
                    @media (min-width: $breakpoint-laptop) { width:32%;
                    }
                img {

                }
                h3 {
                    @include sectiontitles;                    
                    font-size:$defaultFontsize + 8px;
                    line-height: .9;
                    font-weight:600;
                    text-align:center;
                    width:100%;
                    margin:15px 0 25px 0;
                    span {
                        color:$secondary-color;
                    }
                }
                &:hover {
                    border-color:rgba( 222, 0, 0, 1 );
                    -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
                }
                .btn-quote {
                    line-height:35px;
                }
            }
        }        
    }
}

/* our services styling ends here */

/* we fix row styling starts here */
.we-fix-row {
    background: rgb(57,57,57);
    background: linear-gradient(180deg, rgba(57,57,57,1) 0%, 
    rgba(53,53,53,1) 23%, 
    rgba(42,42,42,1) 49%, 
    rgba(37,37,37,1) 77%, 
    rgba(34,34,34,1) 100%);
    padding:60px 0 50px 0;
    .container {
        position:relative;
        display: flex;
        justify-content:flex-end;
        flex-wrap:wrap;
        margin:0 auto;
        @media (max-width: $breakpoint-mobile) { padding:0 30px; }
        @media (min-width: $breakpoint-tablet) { padding:0 30px; }
        @media (min-width: $breakpoint-large) { padding:0; width:1425px; }
    }
    .col-left {        
        @include flexclass;
        @media ( max-width: $breakpoint-mobile ) { width:100%; }
        @media ( min-width: $breakpoint-tablet ) { width:55%; position:absolute; left:0; top:-165px; }
        @media ( min-width: $breakpoint-largescreen ) { width:880px; }
        img {
            width:100%;
            object-fit:cover;
        }
     }
    .col-right {
        @include flexclass;
        width:435px;
        @media (max-width: $breakpoint-mobile) { width:100%; }
        @media (min-width: $breakpoint-tablet) { width:42%; }
        @media (min-width: $breakpoint-laptop) { width:430px; }
        ul {
            li {
            position:relative;
                a {                  
                    @include transitiondefault;  
                    .take-methere-link {
                        position:absolute;
                        right:0;
                        top:0;
                        color:#fff;
                        font-size:$defaultFontsize + 1px;
                        line-height: 1;            
                        height:38px;
                        font-weight:300;
                        @include transitiondefault;
                        .text {
                            display: inline-block;
                            width:48px;
                            position:relative;
                            span {
                                opacity:0;
                                visibility: hidden;
                            }                        
                        }
                        i {
                            transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            position:absolute;
                            right:0;
                            top:11px;
                            font-size:$defaultFontsize + 13px;
                            color:$secondary-color;
                            @include transitiondefault;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            right: 10px;
                            top: 25px;
                            width: 50px;
                            height: 2px;
                            background-color: $secondary-color;
                            @include transitiondefault;
                        }                        
                    }
                    &:hover {
                        @include transitiondefault;
                        .text {
                            width:100%;
                            span {
                                opacity:1;
                                visibility: visible;
                                @include transitiondefault;
                            }                                              
                        }
                        .take-methere-link {
                            width:152px;
                            &:after {
                                right:10px;
                                width:91%;
                            }
                        }  
                    }

                }        
                h3 {
                    font-size:$defaultFontsize + 28px;
                    line-height: 1;
                    text-transform:capitalize;
                    color:$primary-bgcolor;
                    span {
                        color:$secondary-color;
                    }
                }
                p {
                    font-size:$defaultFontsize + 3px;
                    line-height:25px;
                    font-weight:300;
                    color:#fff;
                    margin:20px 0 40px 0;
                }    
                &:last-child {
                    p {
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}

/* we fix row styling ends here */

/* client testimonials starts here */
.clients-testimonials {    
    background-color:#fff;
    @media ( max-width: $breakpoint-mobile ) { padding:120px 0 90px 0; }
    @media ( min-width: $breakpoint-tablet ) { padding:120px 0 90px 0; }
    @media ( min-width: $breakpoint-largelaptop ) { padding:340px 0 90px 0; }
}
.clients-testimonials .container {
    margin:0 auto;
    @media (max-width: $breakpoint-mobile) { padding:0 30px; }
    @media ( min-width: $breakpoint-tablet ) {padding:0 30px; }
    @media (min-width: $breakpoint-tablet) {
        padding:0 30px;
    }
    @media (min-width: $breakpoint-large) {
        padding:0;
        width:1375px;
    }
    h2 {
        color: $primary-color;
        font-size:$defaultFontsize + 13px;
        line-height: 0.9;
        font-weight: 900;
        text-align: center;
        position: relative;
        margin-bottom: 110px;
        text-transform: capitalize;
        span {
            color:$secondary-color;
        }
        &:after {
            content: "";
            @include positionabsolute;
            bottom: -25px;
            width: 140px;
            height: 5px;
            background-color: #DE0000;
        }
    }
    .clients-testimonials-slider {
        margin:0 auto;
        text-align:center;
        @media ( max-width:$breakpoint-mobile ){ width:auto; padding:0; }
        @media ( min-width:$breakpoint-tablet ){ width:auto; padding:0 60px; }
        @media ( min-width:$breakpoint-largelaptop ){ width:1165px; }
        .testmonial-slider {
            position:relative;
            .slick-next:before, .slick-prev:before {
                display:none;                
            }
            .slick-prev {
                background:url(../images/testimonials-arrow1.png) left top no-repeat;
                background-size:cover;
                width:33px;
                height:50px;
                @media (max-width: $breakpoint-mobile) { top:110%; left:50px; }
                @media ( min-width: $breakpoint-tablet ) { left:-50px; }
                @media ( min-width: $breakpoint-laptop ) { left:-100px; }                          
            }
            .slick-next {
                background:url(../images/testimonials-arrow2.png) left top no-repeat;
                background-size:cover;
                width:33px;
                height:50px;
                @media (max-width: $breakpoint-mobile) { top:110%; right:50px; }
                @media ( min-width: $breakpoint-tablet ) { right:-50px; }
                @media ( min-width: $breakpoint-laptop ) { right:-100px; } 
            }
            .slick-prev.active {
                background:url(../images/testimonials-arrow1-active.png) left top no-repeat;
                background-size:cover;
                width:33px;
                height:50px;  
            }
            .slick-next.active {
                background:url(../images/testimonials-arrow2-active.png) left top no-repeat;
                background-size:cover;
                width:33px;
                height:50px;
            }
            .quote {
                font-size:$defaultFontsize + 88px;
                line-height:.7;
                font-weight:700;
                color:$secondary-color;
                display:inline-block;
                width:100%;
                text-align:center;
                margin-bottom:45px;
            }
            .slider-row {
                border:1px solid $secondary-color;
                border-radius:40px;                
                background-color:$primary-bgcolor;
                position:relative;
                @media (max-width: $breakpoint-mobile) { padding:48px 20px 0 20px; }
                @media (min-width: $breakpoint-tablet) { padding:48px 40px 0 40px; }
                @media (min-width: $breakpoint-laptop) { padding:48px 90px 0 90px; }
                @media (min-width:$breakpoint-large){ height:420px; }
                p {
                    color:$primary-color;
                    font-size:$defaultFontsize + 3;
                    line-height:30px;
                    margin:0 0 45px 0;
                }
                .author {
                    display:inline-block;
                    width:100%;
                    text-align:center;
                    color:$secondary-color;
                    font-size:$defaultFontsize + 3;
                    font-weight:700;
                    margin-bottom:30px;
                }
                .author-thumbnail {                    
                    text-align:center;
                    img {                            
                        text-align:center;
                        border-radius:50%;
                        width:126px;
                        height:126px;
                        display:inline-block;
                    }  
                }  
            }                                                    
        }            
    }

}

/* client testimonials ends here */

/* latest news starts here */
.latest-news-outer {
    background-color:#fbfbfb;
    padding:115px 0 105px 0;
    .container {
        @media ( max-width: $breakpoint-mobile ) { padding:0 30px; }
        @media ( min-width: $breakpoint-tablet ) { padding:0 30px; }
        @media ( min-width: $breakpoint-large ) { padding:0; width:1365px; }
        h2 {
            color: $primary-color;
            font-size: $defaultFontsize + 13;
            line-height: 0.9;
            font-weight: 900;
            text-align: center;
            position: relative;
            margin-bottom: 110px;
            text-transform: capitalize;
            span {
                color:$secondary-color;
            }
            &:after {
                content: "";
                @include positionabsolute;                
                width: 140px;
                height: 5px;
                background-color: #DE0000;
                bottom:-25px;
            }
        }
        .latest-news-row {
            @include flexclass;
            .latestnews-col {
                @media ( max-width: $breakpoint-mobile ) { width:100%; margin-top:50px; }
                @media ( min-width: $breakpoint-tablet ) { width:31%; }
                @media ( min-width: $breakpoint-laptop ) { width:32%; }
                .news-thumbnail {
                    position:relative;
                    img {
                        border-radius:36px;
                        border-bottom-left-radius:0;
                    }
                    .iphone-btn {
                        position:absolute;
                        right:20px;
                        top:20px;
                        background-color:$primary-bgcolor;
                        border-radius:36px;
                        font-weight:600;
                        font-size: $defaultFontsize - 6px;
                        color:$secondary-color;
                        width:90px;
                        height:33px;
                        text-align:center;
                        line-height:33px;
                    }
                }
                .comment-row {
                    position:relative;
                    @include flexclass;                    
                    @media ( min-width: $breakpoint-tablet ) { justify-content:flex-start; }
                    @media ( min-width: $breakpoint-laptop ) { justify-content:flex-end; }
                    .date {
                        position:absolute;
                        left:0;
                        top:-22px;
                        background-color:$primary-bgcolor;
                        border-top-right-radius:20px;
                        border-bottom-right-radius:20px;
                        width:180px;
                        .date-cont {
                            display:inline-block;
                            width:100%;
                            color:$secondary-color;
                            font-size:$defaultFontsize + 2;
                            line-height:50px;
                            text-transform:capitalize;
                            font-weight:600;
                            padding-left:15px;
                        }
                    }
                    .comment-list {
                        @include flexclass;
                        width:220px;
                        @media ( min-width: $breakpoint-tablet ) { margin:40px 20px 0 0; }
                        @media ( min-width: $breakpoint-laptop ) { margin:0 20px 0 0; }
                        li {
                            display:flex;
                            flex-wrap:wrap;                            
                            align-items:center;
                            width:98px;
                            .comment-list-icon {

                            }
                            .comment-list-text {
                                color:$primary-color;
                                font-size:$defaultFontsize - 6;
                                line-height:1;
                                font-weight:300;
                            }
                        }
                    }
                }
                .news-detail {
                    margin-top:22px;
                    h3 {
                        color:$secondary-headingcolor;
                        font-size:$defaultFontsize + 2px;
                        line-height:26px;
                        font-weight:600;
                        margin-bottom:18px;                    
                    }
                    p {
                        color:$primary-color;
                        font-size:$defaultFontsize - 2px;
                        line-height: 26px;
                        margin-bottom:10px;
                    }
                    a {
                        width:118px;
                        font-size:$defaultFontsize - 3px;
                        height:36px;
                        line-height:36px;
                        -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.15);
                    }
                }
            }            
        }
    }
}

/* latest news ends here */