$primary-color:#707070;
$secondary-color:#DE0000;
$secondary-headingcolor:#606060;
$primary-bgcolor:#fff;
$nav-color:#606060;
$footer-bg:#2a2a2a;

$defaultFontsize:17px;

$breakpoint-small-mobile: 575px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-ipad: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-largelaptop:1280px;
$breakpoint-largescreen: 1366px;
$breakpoint-large: 1500px;
$breakpoint-extralarge: 1650px;
$breakpoint-largewide:1700px;
$breakpoint-desktop:1750px;
$breakpoint-desktoplarge:1750px;