
@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),  url('TrajanPro-Regular.otf')  format('opentype'),
	     url('TrajanPro-Regular.woff') format('woff'), url('TrajanPro-Regular.ttf')  format('truetype'), url('TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
